*{
  margin:0;
  padding:0;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 85%;
  min-height: 100vh;
  background-color: #fbfbf9;
}

@media screen and (max-width: 1000px) {
  .container {
     width: 100%;
  }
}